.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link{
  color: #333;
}

.sidebar .nav-link.active{
  color: #007bff;
}


main{
  padding-top: 48px;
}

.submit-candidate{
  margin-top: 20px;
}